main {
    padding: 0 1em;
    margin-top: 1em;
    width: 100%;
}

.tabs {
    width: 100%;
}

.tabs--nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0 3px;
    width: 70%;
}

.tabs--nav button {
    border: none;
    color: #6a6f73;
    white-space: nowrap;
    font-weight: bold;
}

.tabs--nav button:hover {
    color: #000;
}

.tabs--nav button:focus {
    outline: none;
}