.main-nav {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.2rem;
  padding: 0 2.4rem;
  width: 100%;
  /* z-index: 1010; */
}

.main-nav>* {
  height: 100%;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
}


/* categories */
.categories {
  /* position: relative; */
  /* background-color: transparent; */
  width: 5em;
  height: 100%;
}

.categories>button {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
}

.categories>button:hover {
  color: #401b9c;
  cursor: pointer;
}


/* search  */
.search {
  background-color: #f7f9fa;
  border: 1px solid #1c1d1f;
  border-radius: 15em;

  display: flex;
  align-items: center;
  flex-grow: 1;

  height: 2.8rem;
  /* width: 18em; */
  margin: 0 1.2rem;
  padding: 0;
}

.search>form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  padding-right: 2.4rem;


  height: 100%;
  width: 100%;
}

.search>form>* {
  height: 100%;
  background-color: #f7f9fa;
  border: none;
}

.search>form input {
  padding: 0 0 0 .4em;
  font-size: .8em;
  width: 90%;
  border: none;
  outline: none;
}

.search>form button {
  padding: 0;
  width: 10%;
  border: none;
  background-color: transparent;
}

.search>form button:hover {
  cursor: pointer;
}


/* Udemy Business */

.udemy-business-teach {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6em;
}

.udemy-business-teach>a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  padding: 0% 10%;
  text-decoration: none;
  color: inherit;
}

.udemy-business-teach>a:hover {
  color: #401b9c;
}

.udemy-business-teach>a>span {
  width: 100%;
  white-space: nowrap;
  font-size: .7em;
}

/* cart */
.cart {
  position: relative;
  height: 100%;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart>a {
  height: 80%;
  width: 100%;
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.cart>a i {
  font-size: 100%;
}

.cart>a:hover {
  color: #401b9c;
}



/* join */
.join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 100%;
  width: 70px;
  font-weight: bold;
}

.join>a {
  height: 60%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: inherit
}

.join>a>span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login>a {
  color: #1c1d1f;
  background-color: transparent;
  border: 1px solid #1c1d1f;
}

#login>a:hover {
  background-color: #eee;
}

#sign-up>a {
  background-color: #000;
  color: #fff;
}

#sign-up>a:hover {
  background-color: #1c1d1f;
}


.language {
  height: 100%;
  width: 2.52rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.language button {
  font-size: 100%;
  width: 100%;
  height: 60%;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  background-color: transparent;
}

.language button:hover {
  background-color: #eee;
}


.bars {
  display: none;
}

@media (max-width: 950px) {
  .udemy-business {
    display: none;
  }
}

@media (max-width: 850px) {
  .udemy-teach {
    display: none;
  }
}

@media (max-width: 720px) {
  .main-nav {
    padding: 0 1.4rem;
  }

  .main-nav>* {
    flex-direction: row-reverse;
    display: none;
  }

  .logo {
    display: flex;
  }

  .bars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    font-size: 2em;
  }
}